<section class="archives-section">
    <h3>THE Clothing Archives 2010-2019</h3>
    <div class="archives-container">
        <div class="archives-item">
            <img class="responsive" src="{{ '1.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '2.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '3.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '4.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '5.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '6.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '7.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '8.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '9.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '10.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '11.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '12.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '13.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '14.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '15.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '16.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '17.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '18.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '19.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '20.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '21.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '42.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '23.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '24.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '25.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '26.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '27.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '28.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '29.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '30.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '31.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '32.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '33.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '34.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '35.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '36.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '37.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '38.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '39.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '40.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '41.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '42.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '43.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '44.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '45.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '46.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '47.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '48.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '49.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '50.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '51.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '52.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '53.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '54.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '69.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '56.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '57.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '58.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '59.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '60.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '61.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '62.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '63.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '64.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '65.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '66.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '67.jpg' | asset_url }}"/>
        </div>
        <div class="archives-item">
            <img class="responsive" src="{{ '68.jpg' | asset_url }}"/>
        </div>

    </div>
</section>  

<div class="grid-archives">
</div>

  
{% schema %}
    {
    "name": "Slideshow",
    "settings": []
    }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

    const lightbox = document.createElement('div')
    lightbox.id = 'lightbox'
    document.body.appendChild(lightbox)

    const images = document.querySelectorAll('img')
        images.forEach(image => {
        image.addEventListener('click', e => {
            lightbox.classList.add('active')
            const img = document.createElement('img')
            img.src = image.src
            while (lightbox.firstChild) {
            lightbox.removeChild(lightbox.firstChild)
            }
            lightbox.appendChild(img)
        })
    })

    lightbox.addEventListener('click', e => {
    if (e.target !== e.currentTarget) return
    lightbox.classList.remove('active')
    })

{% endjavascript %}
  